{% extends "layoutCustom.twig" %}
{% block content %}
<!--Main layout-->
    <main>
        <div class="container-fluid">
            <h2 class="mb-5 font-weight-bold text-center">Galería de adopción</h2>
            <div class="row">
                <div class="col-md-2">
                    <h4 class="text-center font-weight-bold"><i class="fas fa-filter"></i> Filtros</h4>
                    
                    <form action='/gallery' id='formulario' autocomplete="off" method='POST'>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="dogGenero">Género</label>
                                <select class="custom-select" id="dogGenero" name='dogGenero'>
                                    <option selected value=''>Selecciona género</option>
                                    <option value="Hembra">Hembra</option>
                                    <option value="Macho">Macho</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogEdad">Edad</label>
                                <select class="custom-select" id="dogEdad" name='dogEdad'>
                                    <option selected value=''>Selecciona edad</option>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Cachorro">Cachorro</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogTamanio">Tamaño</label>
                                <select class="custom-select" id="dogTamanio" name='dogTamanio'>
                                    <option selected value=''>Selecciona tamaño</option>
                                    <option value="Grande">Grande</option>
                                    <option value="Mediano">Mediano</option>
                                    <option value="Pequeño">Pequeño</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogCiudad">Ciudad</label>
                                <select class="custom-select" id="dogCiudad" name='dogCiudad'>
                                    <option selected value=''>Selecciona ciudad</option>
                                    <option value="Quito">Quito</option>
                                    <option value="Guayaquil">Guayaquil</option>
                                    <option value="Cuenca">Cuenca</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3"><i class="fas fa-search"></i> Buscar</button>
                    </form>
                </div>
                <div class="content col-md-10">
                    {% if errorsMessage %}
                        <div class="alert alert-danger" role="alert" style=''>
                            {{ errorsMessage }}
                        </div>
                    {% endif %}
                    {% if responseMessage %}
                            <p>{{ responseMessage }}</p>
                    {% endif %}
                    <div class="row text-center contents">

                        {% for dog in listDogs %}
                        <div class="col-md-4 col-sm-6">
                            <div class="card">
                                <img class="card-img-top" src="../assets/img/dogs/{{dog.dogPhoto}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{dog.dogName}}</h5>
                                    <p class="card-text">{{dog.dogDescription}}</p>
                                    <a href="/dog/info/{{dog.dogId}}" class="btn"><i class="fas fa-dog"></i> Más información</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
  </main>
  <!--Main layout-->
{% endblock %}