{% extends "layoutCustom.twig" %}
{% block styles %} 
    <!-- Material Design Bootstrap -->
    <link href="../../assets/css/mdb.min.css" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="../../assets/css/styles-visitor-main.css">
{% endblock %}
{% block content %}
    <!--Main layout-->
    <main>
        <div class="container-fluid">
            <h2 class="mb-5 font-weight-bold text-center">Informacíon del Can</h2>
            <div class="row">
                <div class="col-md-2">
                    <h4 class="text-center font-weight-bold"><i class="fas fa-filter"></i> Filtros</h4>
                    <form action='/gallery' id='formulario' autocomplete="off" method='POST'>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="dogGenero">Género</label>
                                <select class="custom-select" id="dogGenero" name='dogGenero'>
                                    <option selected value=''>Selecciona género</option>
                                    <option value="Hembra">Hembra</option>
                                    <option value="Macho">Macho</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogEdad">Edad</label>
                                <select class="custom-select" id="dogEdad" name='dogEdad'>
                                    <option selected value=''>Selecciona edad</option>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Cachorro">Cachorro</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogTamanio">Tamaño</label>
                                <select class="custom-select" id="dogTamanio" name='dogTamanio'>
                                    <option selected value=''>Selecciona tamaño</option>
                                    <option value="Grande">Grande</option>
                                    <option value="Mediano">Mediano</option>
                                    <option value="Pequeño">Pequeño</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="dogCiudad">Ciudad</label>
                                <select class="custom-select" id="dogCiudad" name='dogCiudad'>
                                    <option selected value=''>Selecciona ciudad</option>
                                    <option value="Quito">Quito</option>
                                    <option value="Guayaquil">Guayaquil</option>
                                    <option value="Cuenca">Cuenca</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3"><i class="fas fa-search"></i> Buscar</button>
                    </form>
                </div>
                <div class="info col-md-10">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="../../assets/img/dogs/{{dogInfo.dogPhoto}}"  alt="{{dogInfo.dogPhoto}}">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mt-0 text-white font-weight-bold mb-3">{{dogInfo.dogName}}</h4>
                            <h5 class="mt-0">Edad</h5>
                            <p>{{dogInfo.dogAge}}</p>
                            <h5 class="mt-0">Tamaño</h5>
                            <p>{{dogInfo.dogSize}}</p>
                            <h5 class="mt-0">Ciudad</h5>
                            <p>{{dogInfo.dogCity}}</p>
                            <h5 class="mt-0">Descripción</h5>
                            <p>{{dogInfo.dogDescription}}</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 offset-md-2" >
                            <a class="btn btn-block font-weight-bold " href='/#contactanos'>Adoptar</a>
                        </div>
                        <div class="col-md-4 offset-md-3" >
                            <a href="/gallery" class="btn btn-dark btn-block btn-sm mt-2">Volver a Galería</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->

{% endblock %}
{% block scripts %}
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.js"></script>
<script type="text/javascript" src="../../assets/js/form-contact.js"></script>
{% endblock %}